[toc]

## <%= release_version %> Release Milestone Information :coffee:

* <%= release_version %> Milestone period: <%= upcoming_release_start_date.iso8601 %> - <%= upcoming_release_end_date.iso8601 %>
* <%= release_version %> Retro: https://gitlab.com/gl-retrospectives/s_fulfillment/utilization/-/issues/

## :bookmark: Issue Boards

* [**Combined Board**](https://gitlab.com/groups/gitlab-org/-/boards/5373281?label_name[]=group%3A%3Autilization)
  * [**Backend Issue Board**](https://gitlab.com/groups/gitlab-org/-/boards/2712689?label_name[]=backend&label_name[]=group%3A%3Autilization)
  * [**Frontend Issue Board**](https://gitlab.com/groups/gitlab-org/-/boards/2856798?label_name[]=frontend&label_name[]=group%3A%3Autilization)
  * [**Team Member Board**](https://gitlab.com/groups/gitlab-org/-/boards/2161747?label_name[]=group%3A%3Autilization)
* [**TW Issue Board**](https://gitlab.com/groups/gitlab-org/-/boards/4138716?label_name[]=Technical%20Writing&label_name[]=group%3A%3Autilization)

**Some notes about the boards**:

* Boards contain the current milestone as well as a list for the next two milestones.
* Issues within each list are prioritized with the highest priority issues ranked from top to bottom, please pick issues in order wherever possible.
* Issues marked with ~Deliverable are issues we are committing to deliver in the current milestone
* If there is nothing left to pick in the current milestone, feel free to pick from the next! Other options include:
     * Post in Slack channel to see if any engineers would like help/pair on something they are working on
     * Pick an issue from the backlog
     * Create/work on tech debt
     * Work on a passion issue
     * Other (study, research, learning)

## :smile_cat: UX focus

**Reminder**: Escalate UX concerns to `@timnoah` 

* https://gitlab.com/gitlab-org/fulfillment/meta/-/issues/1790+

## :construction_worker:  Priority Projects

| Epic / Issue                                      | DRI(s)  | Discussion |
|---------------------------------------------------|---------|------------|
| | | |

## Objectives of <%= release_version %>

* ...
* ...
* ...

### Tier 1 Projects

### Tier 2 Projects

_Think of these as your back burner projects that you can work on only if you get blocked/slowed down on your Tier 1 Projects. If you are only able to work on your Tier 1 Projects the entire milestone, that is totally fine! These projects are just here if you need them to fill your time._

_These are in priority order:_

* Work on improving tests: [test slowness](https://gitlab.com/groups/gitlab-org/-/issues/?sort=created_date&state=opened&label_name%5B%5D=group%3A%3Autilization&label_name%5B%5D=type%3A%3Amaintenance&label_name%5B%5D=rspec%3Aslow%20test&first_page_size=100) | [test flakiness](https://gitlab.com/groups/gitlab-org/-/issues/?sort=created_date&state=opened&label_name%5B%5D=group%3A%3Autilization&label_name%5B%5D=type%3A%3Amaintenance&author_username=project_278964_bot_88b943018f1db9c06a053225e9f7318a&not%5Blabel_name%5D%5B%5D=rspec%3Aslow%20test&first_page_size=100)
* ...
* ...

## :beetle: Bugs Requiring Attention

| ISSUE                                                   | SLO_DATE        | SEVERITY   | PRIORITY   | MILESTONE   | NOTE                                                 | Discipline    | Assignee    |
| ------------------------------------------------------- | --------------- | ---------- | ---------- | ----------- | ---------------------------------------------------- | ------------- | ----------- |
| | | | | | | | |


| Issue | Weight | Priority | Discipline(s) | Notes | Assignee |
|-------|--------|----------|---------------|-------|----------|
|       |        |          |               |       |          |

## :pen_ballpoint: Copy Work

* ...

## :crystal_ball: Estimations and Refinements

TBD

## :space_invader: Spikes

| Spike Issue | Context | Status |
| ------ | ------ | ---- |
| | | |

## :scales: Weight history

[Sheets link to weights history](https://docs.google.com/spreadsheets/d/15OZ9H7gCot9Z1ldPGaBj5fdfP0Lk3723UCA0MAsTN6Q/edit#gid=871863716)


# Planning Issue checklist

<details><summary>By the 10th of the month or before: Planning Issue</summary>

- [x] Create `next XX.YY milestone` Utilization Planning issue
  - [x] Create the issue (prepend `[Draft]` to the title)
  - [ ] Review Priority Projects, ensure it’s clear what we will be focusing on for the milestone
</details>

<details><summary>By the 10th of the month or before:: Milestone Board</summary>

- [ ] Create `next XX.YY milestone` Utilization Board
  - [ ] Create the board
  - [ ] Add columns (use the previous milestone board as an example for which columns to display)
  - [ ] Review issues (e.g. move out anything that we won’t get to and keep in mind issues from the previous milestones that will roll over)
  - [ ] Label candidate issues with ~"workflow::refinement" if description is not yet complete

</details>

<details><summary>Between the 10th - 14th of the month: Assignment</summary>

- [ ] Assign milestone candidate issues to engineers (EM or PM does assignment) - [This board](https://gitlab.com/groups/gitlab-org/-/boards/4717996?weight=None&label_name[]=group%3A%3Autilization&label_name[]=needs%20weight) tracks those assignments
  - [ ] Candidate issue descriptions should be completed
  - [ ] Issues should have `needs weight` and `workflow::planning breakdown` labels

</details>

<details><summary>Between the 10th - 14th of the month: Weighting</summary>

- [ ] Engineers should work to provide estimates, refine, and breakdown issues
  - [ ] Use the refinement checklist to refine issues.
  - [ ] Split an issue out into components. For example, if backend work needs to be completed before frontend work can begin.
  - [ ] Add a weight based on our definition
  - [ ] Update the `~workflow::` label to the appropriate status, e.g.
    - ~"workflow::design" if further design refinement is needed, and let the designer know.
    - ~"workflow::ready for development" when refinement is completed and a weight has been applied, signaling that it's ready for implementation and the issue can now be prioritized.
    - ~"workflow::planning breakdown" if extensive investigation and/or research is needed, the status does not move, and the PM and EMs should be informed. An issue remains in this workflow status while collaborating with others to clarify minor aspects of the issue.
  - [ ] Unassign themselves from the issue when they are done refining and weighing the issue.

</details>

<details><summary>Between the 14th - 18th: Milestone Board consolidation and review</summary>

- [ ] Finalize `next XX.YY milestone` Utilization Board
  - [ ] All issues (that are labelled ~backend and ~frontend) should have weight
  - [ ] Review all of the issues again, now that the previous milestone issues have been rolled over. Re-order to reflect priorities
  - [ ] Post a comment on the Issue and ask the team to review the Board

</details>

<details><summary>Start of the milestone: moving Issues</summary>

- [ ] Move issues from `XX.YY-1` Board to `next XX.YY milestone` board
  - [ ] First review all of the Open issues to see what can be closed
  - [ ] Capture weights of what’s been done vs still open. This data will be used when we’re wrapping up the milestone, and will also go into [this spreadsheet](https://docs.google.com/spreadsheets/d/15OZ9H7gCot9Z1ldPGaBj5fdfP0Lk3723UCA0MAsTN6Q/edit?usp=sharing)
  - [ ] Frontend
    - [ ] Total closed - X weight Y issues
    - [ ] Unplanned - X weight Y issues
    - [ ] Pushed to next milestone - X weight Y issues
  - [ ] Backend
    - [ ] Total closed - X weight Y issues
    - [ ] Unplanned - X weight Y issues
    - [ ] Pushed to next milestone - X weight Y issues
  - [ ] To actually move the issues to another board:
    - [ ] Look at all of the open issues in the current milestone (example query for `XX.YY-1`)
    - [ ] Click the “Edit issues” button at the top (this will show checkboxes next to all the issues)
    - [ ] Select all issues except for the Planning issue (that one can stay in the milestone, we’ll be closing it next)
    - [ ] On the right-hand side, select the following:
      - [ ] Milestone:  `next XX.YY milestone`
      - [ ] Labels:  `missed:XX.YY-1`
    - [ ] Click “Update all” button

</details>

<details><summary>Start of the milestone: closing previous Issues</summary>

- [ ] `Date milestone starts` - Close `XX.YY-1` Utilization Planning issue
  - [ ] Post a comment similar to this one, or whatever else you’d like to highlight
  - [ ] Close issue

</details>

<details><summary>Start of the milestone: Planning Issue finalization </summary>

- [ ] Finalize `next XX.YY milestone` Utilization Planning Issue
  - [ ] Re-review Priority Projects, ensure it’s clear what we will be focusing on for the milestone
  - [ ] Chase: Update due dates on priority projects
  - [ ] Capture weights of all issues, so we know the total before the milestone start
  - [ ] Update the spreadsheet
  - [ ] Remove `[Draft]` from the title
  - [ ] Post to the team slack channel that both the Board and Issue are ready 🥳
  - [ ] Mention the team in the issue comments (`/cc @gitlab-org/fulfillment/utilization`)

</details>

/assign @jameslopez 
/label ~"group::utilization" ~"Planning Issue" ~"Category:Consumables Cost Management" ~"Category:Seat Cost Management"
/confidential
